{{>head}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Hermosa Niña</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, explicabo expedita atque quod enim necessitatibus quos facilis. Non est, enim quod molestias, eaque exercitationem fugit in velit deleniti quaerat amet!
        </p>
    </div>

    <div class="col-4">
    <img src="assets/img/ninia.png" alt="" class="img-thumbnail">
    </div>

</div>
    

{{>footer}}